@import url(http://fonts.googleapis.com/css?family=Lato);
@import "vars";

body {
	background-image: url(../images/bg.svg) !important;
	background-size: cover !important;
	background-position: center !important;

	.login {
		background: #000;
		font-family: 'Lato';
		-webkit-font-smoothing: antialiased;
	}

	&.login {
		display: flex;
		align-items: center;
	}
}

#login {
	background-color: #111;
	padding: 48px 24px 24px;
	border-radius: 4px 50px 4px 4px;
	box-shadow: 0 2px 5px rgba(#111,.5);

}

#loginform {
	// padding: 24px;
	// form {
	// 	input {
	// 		padding: 10px;
	// 	}
	// }
}

.login h1 a {
	background-image: url(../images/forge.png);
	background-size: 75%;
	width: 200px;
	height: 70px;
	margin-bottom: 24px;
	// margin-top: 24px;
}

p.message {
	// padding: 24px;

	background-color: rgba($teal,.2) !important;
	border-left-color: $teal !important;
	color: white !important;
}

#nav, #backtoblog {
	// padding: 0 !important;
	a {
		color: $text !important;
		&:hover {
			color: $teal !important;
		}
	}
}

.login form {
	background: #111;
	padding-top: 0;
}

.login form .input, .login form input[type=checkbox], .login input[type=text] {
	background: #222;
	border: none;
	color: #fff;
	font-size: 24px;
	font-family: 'Lato';
	font-weight: 400;
}

.login #nav a {
	color: white;
}

.login #backtoblog a {
	color: white;
}

#wp-submit {
	background-color: $teal;
	border: 0 !important;
	box-shadow: none !important;
	text-shadow: none;
	font-family: 'Lato';
	font-weight: bold;
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 2px;

	&:hover {
		background-color: darken($teal,10%);
	}
	&:active {
		background-color: darken($teal,15%);
		margin-top: 0;
		transform: none;
	}
}
