@import url(http://fonts.googleapis.com/css?family=Lato);
body {
  background-image: url(../images/bg.svg) !important;
  background-size: cover !important;
  background-position: center !important; }
  body .login {
    background: #000;
    font-family: 'Lato';
    -webkit-font-smoothing: antialiased; }
  body.login {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center; }

#login {
  background-color: #111;
  padding: 48px 24px 24px;
  border-radius: 4px 50px 4px 4px;
  box-shadow: 0 2px 5px rgba(17, 17, 17, 0.5); }

.login h1 a {
  background-image: url(../images/forge.png);
  background-size: 75%;
  width: 200px;
  height: 70px;
  margin-bottom: 24px; }

p.message {
  background-color: rgba(89, 215, 191, 0.2) !important;
  border-left-color: #59d7bf !important;
  color: white !important; }

#nav a, #backtoblog a {
  color: #777777 !important; }
  #nav a:hover, #backtoblog a:hover {
    color: #59d7bf !important; }

.login form {
  background: #111;
  padding-top: 0; }

.login form .input, .login form input[type=checkbox], .login input[type=text] {
  background: #222;
  border: none;
  color: #fff;
  font-size: 24px;
  font-family: 'Lato';
  font-weight: 400; }

.login #nav a {
  color: white; }

.login #backtoblog a {
  color: white; }

#wp-submit {
  background-color: #59d7bf;
  border: 0 !important;
  box-shadow: none !important;
  text-shadow: none;
  font-family: 'Lato';
  font-weight: bold;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 2px; }
  #wp-submit:hover {
    background-color: #31ccae; }
  #wp-submit:active {
    background-color: #2cb79d;
    margin-top: 0;
    transform: none; }
